<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <app-form-input label="initial-investment">
      <input type="number" id="initial-investment" name="initial-investment" [(ngModel)]="initialInvestment" />
    </app-form-input>
    <app-form-input label="annual-investment">
      <input type="number" id="annual-investment" name="annual-investment" [(ngModel)]="annualInvestment" />
    </app-form-input>
  </div>
  <div class="input-group">
    <app-form-input label="expected-return">
      <input type="number" id="expected-return" name="expected-return" [(ngModel)]="expectedReturn" />
    </app-form-input>
    <app-form-input label="duration">
      <input type="number" id="duration" name="duration" [(ngModel)]="duration" />
    </app-form-input>
  </div>
  <p class="button-container">
    <button type="submit">Calculate</button>
    <button type="btn" (click)="clearCalculation()">Clear</button>
  </p>
</form>